@keyframes fadeInOut {
    0% {
        opacity: .2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

@keyframes offersSlider {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-200%);
    }
}

@keyframes scaleInOut {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1.2);
    }
}