@keyframes fadeInOut {
    0% {
        opacity: .2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

@keyframes offersSlider {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-200%);
    }
}